repos:
- repo: https://github.com/pycqa/bandit
  rev: 1.7.5
  hooks:
    - id: bandit

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.18.0
  hooks:
    - id: gitleaks

- repo: https://github.com/psf/black
  rev: 24.3.0
  hooks:
    - id: black
